@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    width: 100%;
    background-color: #be3144;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 71px;
}

.nav-menu .nav-items a {
    font-size: 18px;
    float: right;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.welcome-section-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.welcome-section-container h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.welcome-section-container p {
    color: #be3144;
    text-align: center;
    font-size: 1.2rem;
}

#projects {
    background-color: #45567d;
    padding: 4rem 0;
}

#projects h1 {
    color: #fff;
    font-size: 26px;
    line-height: 45px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #f0f0f0;
    max-width: 400px;
    margin: auto;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    padding-left: 2rem;
}

.projects-section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}



.projects-section h2 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #303841;
    line-height: 2.5;
}

span {
    color: #ff7f50;
}

.projects-section h2 span {
    display: none;
}

.projects-section h2 span:hover {
    display: block;
}

.projects-section:hover {
    cursor: pointer;
}

.projects-section img {
    width: 350px;
    height: 350px;
} 

.project-btn {
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
}

.project-btn button {
    border: none;
    background: none;
    font-size: 18px;
    background: #303841;
    color: #fff;
    padding: 0.6rem;
}

.project-btn button i {
    padding-left: 8px;
    color: #fff;
}

.project-btn button:hover {
    background: #be3144;
    font-size: 20px;
}

.work {
    background: #303841;
    padding: 2rem;
    border-bottom: 3px solid #be3144;
}

.work h1 {
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-top: 1.2rem;
}

.work p {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.socials .socials-item {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

.socials .socials-item h3 {
    font-weight: 300;
}

.socials .socials-item i {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.copyrights {
    background: #303841;
    width: 100%;
    padding: 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.copyrights p i {
    color: #fff;
}


@media screen and (max-width: 480px) {
    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 71px;
    }

    .nav-menu .nav-items a {
        font-size: 14px;
        padding: 12px;
    }

    a {
        text-decoration: none;
    }

    #welcome-section {
        width: 100%;
        background-color: #303841;
    }

    .welcome-section-container {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .welcome-section-container h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .welcome-section-container p{
        font-size: 12px;
        text-align: center;
    }

    #projects h1 {
        color: #fff;
        font-size: 18px;
        line-height: 35px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 700;
        border-bottom: 2px solid #f0f0f0;
        max-width: 300px;
        margin: auto;
    }

    #projects {
        background-color: #45567d;
        padding: 1.8rem 0;
    }

    .project-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin: 0.4rem;
        padding-left: 0.6rem; */
    }

    .projects-section img {
        width: 300px;
        height: 300px;
    } 
    
    .projects-section h2 {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        background: #303841;
        line-height: 2;
        max-width: 300px;
    }

    .project-btn {
        display: flex;
        justify-content: center;
        padding-top: 0.6rem;
    }

    .work h1 {
        text-align: center;
        font-size: 1.8rem;
        color: #fff;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        padding-top: 1rem;
    }

    .work {
        background: #303841;
        padding: 0.8rem;
        border-bottom: 3px solid #be3144;
    }

    .work p {
        color: #fff;
        text-align: center;
        font-style: italic;
        font-size: 12px;
    }

    .socials {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .socials .socials-item {
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .socials .socials-item i {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    .copyrights {
        background: #303841;
        width: 100%;
        padding: 0.8rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        line-height: 1;
    }

    .copyrights {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
}