@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    width: 100%;
    background-color: #be3144;
}

.nav-menu .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 71px;
}

.nav-menu .nav-items a {
    font-size: 18px;
    float: right;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}