@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    width: 100%;
    background-color: #be3144;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 71px;
}

.nav-menu .nav-items a {
    font-size: 18px;
    float: right;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.welcome-section-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.welcome-section-container h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.welcome-section-container p {
    color: #be3144;
    text-align: center;
    font-size: 1.2rem;
}

#projects {
    background-color: #45567d;
    padding: 4rem 0;
}

#projects h1 {
    color: #fff;
    font-size: 26px;
    line-height: 45px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #f0f0f0;
    max-width: 400px;
    margin: auto;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
}

.projects-container {
    padding: 0 2.8rem;
}

.projects-section {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects-section h2 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #303841;
    line-height: 2.5;
    width: 400px;
}

.projects-section h2 span {
    display: none;
}

.projects-section:hover {
    cursor: pointer;
}

.projects-section img {
    width: 400px;
    height: 350px;
}
